actionlib==1.14.0
angles==1.9.13
bondpy==1.8.6
camera-calibration==1.17.0
camera-calibration-parsers==1.12.1
catkin==0.8.12
cv-bridge==1.16.2
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.6
fastcrc==0.3.6
gencpp==0.7.2
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
image-geometry==1.16.2
interactive-markers==1.12.0
joint-state-publisher==1.15.2
joint-state-publisher-gui==1.15.2
jsk-recognition-utils==1.2.19
jsk-rviz-plugins==2.1.10
jsk-topic-tools==2.2.16
laser-geometry==1.6.7
lxml==6.1.1
MAVProxy==1.8.74
message-filters==1.17.3
numpy==2.5.1
pymavlink==2.4.49
pynmeagps==1.1.5
pyserial==3.5
python-qt-binding==0.4.4
qt-dotgraph==0.4.5
qt-gui==0.4.5
qt-gui-cpp==0.4.5
qt-gui-py-common==0.4.5
resource-retriever==1.12.10
rosbag==1.17.3
rosboost-cfg==1.15.10
rosclean==1.15.10
roscreate==1.15.10
rosgraph==1.17.3
roslaunch==1.17.3
roslib==1.15.10
roslint==0.12.0
roslz4==1.17.3
rosmake==1.15.10
rosmaster==1.17.3
rosmsg==1.17.3
rosnode==1.17.3
rosparam==1.17.3
rospy==1.17.3
rosservice==1.17.3
rostest==1.17.3
rostopic==1.17.3
rosunit==1.15.10
roswtf==1.17.3
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.12
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.3
rqt-gui-py==0.5.3
rqt-image-view==0.4.17
rqt-launch==0.4.10
rqt-logger-level==0.4.12
rqt-moveit==0.5.9
rqt-msg==0.4.10
rqt-nav-view==0.5.8
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.12
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.12
rqt-srv==0.4.9
rqt-tf-tree==0.6.4
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
rviz==1.14.26
sensor-msgs==1.13.2
smach==2.5.3
smach-ros==2.5.3
smclib==1.8.6
sound-play==0.3.18
tf==1.13.4
tf-conversions==1.13.4
tf2-geometry-msgs==0.7.9
tf2-kdl==0.7.9
tf2-py==0.7.9
tf2-ros==0.7.9
topic-tools==1.17.3
urdfdom-py==0.4.6
xacro==1.15.0
